body {
    background-color: black;
    color: white;
    font-weight: 1;
    margin: auto;
    max-width: 50rem;
}
#playparagraph > a {
    text-decoration: none;
    color: white;
    border: 1px solid #bfbfbf;
    background-color: #131313;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
a {
    color: #829bff;
}
#keyboard-controls {
    column-count: 2;
}
/* First title had a margin, which made it unaligned vertically with the third
 * title */
#keyboard-controls h4:first-child {
    margin-top: 0;
}
